<app-intro [duration]="4" *ngIf="loaded"></app-intro>
<div class="container" *ngIf="!loaded">
  <header>
    <img
      src="../../assets/cloud-clip_icon_inverse.png"
      alt="Cloud-clipboard Icon"
    />
    <div class="row">
      <h4>Cloud</h4>
      <h4 class="black">Clipboard</h4>
    </div>
  </header>
  <div class="card-wrap">
    <div class="card">
      <nav>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Set Clipboard</a
        >
        <a routerLink="/setClipboard" routerLinkActive="active"
          >Get Clipboard</a
        >
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
